* {
    margin: 0;
    padding: 0;
}

.box {
    width: 100%;
    margin: auto;
    padding: 1rem;
}
.info-table tr td{
    width: 65%;
    font-size: 0.8rem;
    line-height: 100%;
}
.info-table tr td:first-child{
    width: 35%;
    font-size: 0.8rem;
    line-height: 100%;
}
/*td{*/
/*    !*min-width:10rem;*!*/
/*    width: 50%;*/
/*    font-size: 0.8rem;*/
/*    line-height: 100%;*/
/*}*/
.info-table tr:nth-of-type(2)>td:nth-of-type(2){
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}
.table-button{
    width: 100%;
}
.table-button button{
    font-size: 1rem;
    width:7rem ;
    height: 3rem;
}

