<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>物品詳情</title>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = 0" />
<!--    <script type="text/javascript" src="../js/jquery2.0.js"></script>-->
<!--    <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css">-->
<!--    <script type="text/javascript" src="../js/bootstrap.min.js"></script>-->
    <link type="text/css" rel="stylesheet" href="../css/goods_details.css">
    <link href="../css/Font-Awesome-3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/2.0.0/jquery.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.4.1/css/bootstrap.css">
    <script type="text/javascript" src="https://cdn.staticfile.org/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>
</head>
<body>
<div>
    <div id="jobNoShort" style="display: none">{jobNoShort}</div>
    <div id="jobNo" style="display: none">{jobNo}</div>
    <div id="jobNoNew" style="display: none">{jobNoNew}</div>

    <!-- Modal -->
    <div class="modal fade" id="select_type" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">選擇付款方式</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="select_pay">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="stripe_pay" name="pay_type" value="stripe" class="custom-control-input" checked>
                        <label class="custom-control-label" for="stripe_pay">Stripe</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="alipay" name="pay_type" value="alipay" class="custom-control-input">
                        <label class="custom-control-label" for="alipay">Alipay HK</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="wechat_pay" name="pay_type" value="wechat" class="custom-control-input">
                        <label class="custom-control-label" for="wechat_pay">WeChat Pay</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消購買</button>
                    <button type="button" class="btn btn-primary" id="go_payment" onclick="payment()">確認購買</button>
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators img-display img-indicator">
            </ol>
            <div class="carousel-inner img-inner">

            </div>
            <!--            向左换页-->
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                 <i class="icon-chevron-left" aria-hidden="true" style="color:white;font-size: 2rem;background: black"></i>
                <span class="sr-only">Previous</span>
            </a>
            <!--            向右换页-->
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <i class="icon-chevron-right" aria-hidden="true" style="color:white;font-size: 2rem;background: black"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="mt-3 text-center">
            <table class="info-table table" border="1">
                <tr scope="col">
                    <td>物品編號</td>
                    <td>
                        <a href="" class="serial">
                            <i class="icon-comments-alt icon-large"></i>
                            <em></em>
                        </a>
                    </td>
                </tr>
                <tr scope="col">
                    <td>詳細信息</td>
                    <td class="text-monospace"></td>
                </tr>
                <tr scope="col">
                    <td>數量</td>
                    <td></td>
                </tr>
                <tr scope="col">
                    <td>剩餘數量</td>
                    <td>50</td>
                </tr>
                <tr scope="col">
                    <td>價格</td>
                    <td><span>$</span><span id="amount" style="margin-left: 2px;"></span></td>
                </tr>
            </table>
            <table class="table-button mt-2">
                <tr>
                    <td>
                        <a class="btn btn-primary aaa" id="buy_btn" style="width: 7rem; height: 3rem; color: white; line-height: 2rem; font-size: 1rem;" data-toggle="modal" data-target="#select_type">立即購買</a>
                    </td>
                    <td>
                        <button class="btn btn-info" onclick="javascript:top.location='./jobs_4.php';">返回列表</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="select_type">
    <ul>
        <li></li>
    </ul>
</div>

<script src="https://js.stripe.com/v3/"></script>

<script type="text/javascript" src="../js/account/goods_details.js"></script>
</body>
</html>
