<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>課堂詳細資料</title>

    <!-- Bootstrap core CSS -->
    <link href="../js/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../js/bootstrap-3.3.5/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../css/Font-Awesome-3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <!-- Css -->
    <link href="../css/account.css?t={SITEVESION}" rel="stylesheet">

	
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">課堂詳細</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="./">個人中心</a></li>
            <li><a href="../surveyor_profile.php">查詢學費</a></li>
            <li class="active"><a href="./jobs.php">選取課堂</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td nowrap="nowrap">課程編號：</td>
                <td><a href="ozzomonitoringsurvey://chat.app/?jobNo={jobNo}&refNo={jobNoNew}&surveyType={surveyType}">
                  <i class="icon-comments-alt icon-large"></i>
                  <em>{jobNoNew}</em></a>
                  <input type="hidden" id="txtJobNoNew" value="{jobNoNew}"/></td>
              </tr>
              <tr>
                <td>課程日期：</td>
                <td>{plannedSurveyDate}</td>
              </tr>
              <tr>
                <td>課程時間：</td>
                <td>{surveyTimeHours},總共{estimatedManHour}小時</td>
              </tr>
              <tr>
                <td>上堂地點：</td>
                <td>{surveyLocation}</td>
              </tr>
              <tr>
                <td>課堂類型：</td>
                <td>{surveyType}</td>
              </tr>
              <tr>
                <td colspan="2" align="center"><button name="btnPdf" type="button" class="btn btn-lg btn-info search-salary" data-href='{pdfLink}'>PDF詳細表格</button></td>
              </tr>
              <tfoot>
              </tfoot>
          </table>
          <!-- BEGIN JobRow --> 
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td colspan="2">以下課堂必須一幷選取。</td>
              </tr>
              <tr>
                <td nowrap="nowrap">課堂編號：</td>
                <td><em>{jobNoNew_2}<input type="hidden" id="txtJobNoNew{rowId}" value="{jobNoNew_2}"/> </em></td>
              </tr>
              <tr>
                <td>課堂日期：</td>
                <td>{plannedSurveyDate_2}</td>
              </tr>
              <tr>
                <td>課堂時間：</td>
                <td>{surveyTimeHours_2},總共{estimatedManHour_2}小時</td>
              </tr>
              <tr>
                <td>上堂地點：</td>
                <td>{surveyLocation_2}</td>
              </tr>
                <td>課堂類型：</td>
                <td>{surveyType_2}</td>
              </tr>
              <tr>
                <td colspan="2" align="center"><button name="btnPdf" type="button" class="btn btn-lg btn-info search-salary" data-href='{pdfLink_2}'>PDF詳細表格</button></td>
              </tr>
            <tfoot>
            </tfoot>
          </table>
          <!-- END JobRow --> 
          <table class="table table-bordered">
              <tr>
                <td colspan="2">&nbsp;</td>
              </tr>
              <tr>
                <td width="50%"><button id="btnDetailConfirm" type="button" class="btn btn-lg btn-danger search-salary" style="{confirmBtnStyle}" {btnDetailConfirmStatus}>{btnDetailConfirmText}</button>&nbsp;</td>
                <td><button id="btnDetailReturn" type="button" class="btn btn-lg btn-default search-salary" data-href='jobs_2.php?type={type}'>返回列表</button></td>
              </tr>
          </table>
        </div>
      </div>
    <div class="footer">
    	© Ozzo Technology (HK) Ltd
    </div>  
      
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../js/bootstrap-3.3.5/js/jquery.min.js"></script>
    <script src="../js/bootstrap-3.3.5/js/bootstrap.min.js"></script>
    <script src="../js/account/job-detail.js?t={SITEVESION}"></script>
  </body>
</html>
