<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../js/jquery2.0.js"></script>
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.css">
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <style>
        .box button{
            font-size:1.3rem;
            width:9rem;
            height:5rem
        }
    </style>
</head>
<body>
    <div class="container-fluid m-1 p-1 box">

    </div>
<script type="text/javascript" src="../js/account/jobs_4.js"></script>
</body>
</html>