<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>註冊為新調查員</title>

  <!-- Bootstrap core CSS -->
  <link href="../js/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap theme -->
  <link href="../js/bootstrap-3.3.5/css/bootstrap-theme.min.css" rel="stylesheet">
  <!-- Css -->
  <link href="../css/account.css" rel="stylesheet">


</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">申請成為調查員</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="./">個人中心</a></li>
        <li><a href="./salary.php">查詢工資</a></li>
        <li><a href="./jobs.php">選取工作</a></li>
        <li><a href="../surveyor_calendar.php">我的日曆</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">

  <form id="formRegister" class="form-horizontal">
    <fieldset>
      <div id="legend" class="">
        <legend class="">申請表格</legend>
      </div>

      <div class="control-group">
        <!-- Text input-->
        <label class="control-label">姓名</label>
        <div class="controls">
          <input id="engName" name="engName" type="text" placeholder="請填寫身份證上的姓名" class="input-xlarge">
          <p class="help-block"></p>
        </div>
      </div>

      <div class="control-group">
        <!-- Text input-->
        <label class="control-label">手提</label>
        <div class="controls">
          <input id="contact" name="contact" type="text" placeholder="請保持手機號碼暢通" class="input-xlarge">
          <p class="help-block"></p>
        </div>
      </div>

      <div class="control-group">
        <!-- Text input-->
        <label class="control-label">住址</label>
        <div class="controls">
          <input id="survHome" name="survHome" type="text" placeholder="如元朗，上水" class="input-xlarge">
          <p class="help-block"></p>
        </div>
      </div>

      <div class="control-group">
        <!-- Textarea -->
        <label class="control-label">備註</label>
        <div class="controls">
          <div class="textarea">
            <textarea id="remarks" name="remarks" type="" class=""> </textarea>
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label"></label>
        <!-- Button -->
        <div class="controls">
          <button type="button" id="btnRegister" class="btn btn-success">提交申請</button>
        </div>
      </div>

    </fieldset>
  </form>

  <div class="footer">
    © Ozzo Technology (HK) Ltd
  </div>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../js/bootstrap-3.3.5/js/jquery.min.js"></script>
<script src="../js/bootstrap-3.3.5/js/bootstrap.min.js"></script>
<script src="../js/account/register.js"></script>
</body>
</html>
