<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Bus System</title>
<link href="css/css.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="js/language.js"></script>
<script type="text/javascript" src="js/function.js"></script>
<script type="text/javascript">
function InitSelect()
{
	busDay = Array({busDay});
	for(i=0;i<busDay.length;i++)
	{
		$(busDay[i]).checked = true;
	}
}

</script>
<style>
input {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
</style>

</head>

<body onLoad="InitSelect();">
	<table width="98%" align="center">
		<tr class="DgHeaderStyle">
			<td height="20">Bus Manage &gt;&gt;&gt; View Bus</td>
		</tr>
	</table>
	<table width="98%" align="center">
		<tr>
			<td>
				<table width="90%" align="center" class="TableNone">
					<form action="bus_ input_state.php" method="post"
						enctype="multipart/form-data" name="input">
						<tr align="center" bgcolor="#FFFFFF" class="DgHeaderStyle">
							<td height="20" colspan="5">&nbsp;</td>
						</tr>
						<tr bgcolor="#FFFFFF">
							<td colspan="5"><table width="100%" border="0"
									cellspacing="0" cellpadding="0">
									<tr bgcolor="#FFFFFF" class="TableNone">
										<td width="10%">District:</td>
										<td width="8%">{distCode}</td>
										<td width="12%">Day of this bus:</td>
										<td width="70%"><label> <input name="mon"
												type="checkbox" id="mon" value="checkbox"> Mon <input
												name="tue" type="checkbox" id="tue" value="checkbox">
												Tue <input name="wed" type="checkbox" id="wed"
												value="checkbox"> Wed <input name="thu"
												type="checkbox" id="thu" value="checkbox"> Thu <input
												name="fri" type="checkbox" id="fri" value="checkbox">
												Fri <input name="sat" type="checkbox" id="sat"
												value="checkbox"> Sat <input name="sun"
												type="checkbox" id="sun" value="checkbox"> Sun <input
												name="holiday" type="checkbox" id="holiday" value="checkbox">
												Holiday
										</label></td>
									</tr>
								</table></td>
						</tr>
						<tr bgcolor="#FFFFFF">
							<td width="15%">Route No:</td>
							<td colspan="2"><input name="routeNo" type="text"
								class="IdeaTextBoxOnBlur" id="routeNo" value="{routeNo}"
								size="20" maxlength="40"></td>
							<td>交通工具 Transport Mode</td>
							<td><label>{typeName}</label></td>
						</tr>
						<tr bgcolor="#FFFFFF">
							<td>Direction:</td>
							<td colspan="2"><input name="bounds" type="text"
								class="IdeaTextBoxOnBlur" id="bounds" value="{bounds}" size="20"
								maxlength="40"></td>
							<td width="15%" rowspan="2">Schedule No:</td>
							<td width="70%" rowspan="2"><table width="100%" border="0"
									cellspacing="0" cellpadding="0">
									<tr>
										<td width="50%">All Day Schedule No.</td>
										<td><input name="allSchNo" type="text"
											class="IdeaTextBoxOnBlur" id="allSchNo" value="{allSchNo}"
											size="5" maxlength="3"></td>
									</tr>
									<tr>
										<td>AM Schedule No.</td>
										<td><input name="amSchNo" type="text"
											class="IdeaTextBoxOnBlur" id="amSchNo" value="{amSchNo}"
											size="5" maxlength="3"></td>
									</tr>
									<tr>
										<td>PM Schedule No.</td>
										<td><input name="pmSchNo" type="text"
											class="IdeaTextBoxOnBlur" id="pmSchNo" value="{pmSchNo}"
											size="5" maxlength="3"></td>
									</tr>
								</table></td>
						</tr>
						<tr bgcolor="#FFFFFF">
							<td>S Of S Date:</td>
							<td colspan="2"><input name="sofsDate" type="text"
								id="sofsDate" class="Wdate" onclick="WdatePicker({})" size="10"
								value="{sofsDate}" /></td>
						</tr>
						<tr bgcolor="#FFFFFF">
							<td colspan="5" align="center"><table width="100%"
									align="center" class="TableNone">
									<tr bgcolor="#FFFFFF">
										<td align="center">Bus<br> Times
										</td>
										<td colspan="3"><label> <textarea name="busList"
													cols="35" rows="30" id="busList">{busList}</textarea>
										</label></td>
									</tr>
								</table></td>
						</tr>
						<tr bgcolor="#FFFFFF">
							<td>&nbsp;</td>
							<td colspan="2"><input style="display: none"
								class="ButtonIdea" type="button" name="Submit"
								onClick="Checkinfo()" value="确认提交"></td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
					</form>
				</table>
			</td>
		</tr>
	</table>
	<table width="98%" border="0" align="center" cellpadding="0"
		cellspacing="0">
		<tr>
			<td bgcolor="#FFB263" height="2"></td>
		</tr>
	</table>
</body>
</html>
