<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Bus System</title>
<link href="./css/css.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<table width="98%" align="center">
		<tr class="DgHeaderStyle">
			<td height="20">Bus Manage &gt;&gt;&gt; Traffic Flow Table
				Summary (PCU)</td>
		</tr>
	</table>
	<table width="98%" border="0" cellpadding="0" cellspacing="1"
		bgcolor="#000000" align="center" class="{classEmptyData}">
		<tr class="DgHeaderStyle">
			<td align="center">Movements</td>
			<td class="{classType_0}">0:00</td>
			<td class="{classType_1}">0:15</td>
			<td align="center" class="{classType_2}">0:30</td>
			<td class="{classType_3}">0:45</td>
			<td class="{classType_4}">1:00</td>
			<td class="{classType_5}">1:15</td>
			<td class="{classType_6}">1:30</td>
			<td class="{classType_7}">1:45</td>
			<td class="{classType_8}">2:00</td>
			<td class="{classType_9}">2:15</td>
			<td class="{classType_10}">2:30</td>
			<td class="{classType_11}">2:45</td>
			<td class="{classType_12}">3:00</td>
			<td class="{classType_13}">3:15</td>
			<td class="{classType_14}">3:30</td>
			<td class="{classType_15}">3:45</td>
			<td class="{classType_16}">4:00</td>
			<td class="{classType_17}">4:15</td>
			<td class="{classType_18}">4:30</td>
			<td class="{classType_19}">4:45</td>
			<td class="{classType_20}">5:00</td>
			<td class="{classType_21}">5:15</td>
			<td class="{classType_22}">5:30</td>
			<td class="{classType_23}">5:45</td>
			<td class="{classType_24}">6:00</td>
			<td class="{classType_25}">6:15</td>
			<td class="{classType_26}">6:30</td>
			<td class="{classType_27}">6:45</td>
			<td class="{classType_28}">7:00</td>
			<td class="{classType_29}">7:15</td>
			<td class="{classType_30}">7:30</td>
			<td class="{classType_31}">7:45</td>
			<td class="{classType_32}">8:00</td>
			<td class="{classType_33}">8:15</td>
			<td class="{classType_34}">8:30</td>
			<td class="{classType_35}">8:45</td>
			<td class="{classType_36}">9:00</td>
			<td class="{classType_37}">9:15</td>
			<td class="{classType_38}">9:30</td>
			<td class="{classType_39}">9:45</td>
			<td class="{classType_40}">10:00</td>
			<td class="{classType_41}">10:15</td>
			<td class="{classType_42}">10:30</td>
			<td class="{classType_43}">10:45</td>
			<td class="{classType_44}">11:00</td>
			<td class="{classType_45}">11:15</td>
			<td class="{classType_46}">11:30</td>
			<td class="{classType_47}">11:45</td>
			<td class="{classType_48}">12:00</td>
			<td class="{classType_49}">12:15</td>
			<td class="{classType_50}">12:30</td>
			<td class="{classType_51}">12:45</td>
			<td class="{classType_52}">13:00</td>
			<td class="{classType_53}">13:15</td>
			<td class="{classType_54}">13:30</td>
			<td class="{classType_55}">13:45</td>
			<td class="{classType_56}">14:00</td>
			<td class="{classType_57}">14:15</td>
			<td class="{classType_58}">14:30</td>
			<td class="{classType_59}">14:45</td>
			<td class="{classType_60}">15:00</td>
			<td class="{classType_61}">15:15</td>
			<td class="{classType_62}">15:30</td>
			<td class="{classType_63}">15:45</td>
			<td class="{classType_64}">16:00</td>
			<td class="{classType_65}">16:15</td>
			<td class="{classType_66}">16:30</td>
			<td class="{classType_67}">16:45</td>
			<td class="{classType_68}">17:00</td>
			<td class="{classType_69}">17:15</td>
			<td class="{classType_70}">17:30</td>
			<td class="{classType_71}">17:45</td>
			<td class="{classType_72}">18:00</td>
			<td class="{classType_73}">18:15</td>
			<td class="{classType_74}">18:30</td>
			<td class="{classType_75}">18:45</td>
			<td class="{classType_76}">19:00</td>
			<td class="{classType_77}">19:15</td>
			<td class="{classType_78}">19:30</td>
			<td class="{classType_79}">19:45</td>
			<td class="{classType_80}">20:00</td>
			<td class="{classType_81}">20:15</td>
			<td class="{classType_82}">20:30</td>
			<td class="{classType_83}">20:45</td>
			<td class="{classType_84}">21:00</td>
			<td class="{classType_85}">21:15</td>
			<td class="{classType_86}">21:30</td>
			<td class="{classType_87}">21:45</td>
			<td class="{classType_88}">22:00</td>
			<td class="{classType_89}">22:15</td>
			<td class="{classType_90}">22:30</td>
			<td class="{classType_91}">22:45</td>
			<td class="{classType_92}">23:00</td>
			<td class="{classType_93}">23:15</td>
			<td class="{classType_94}">23:30</td>
			<td class="{classType_95}">23:45</td>
		</tr>
		<!-- BEGIN MovementRow -->
		<tr class="{classRow}">
			<td align="center">{movementChiName}</td>
			<td class="{classType_0}">{totalHourPCUQuantity_0}</td>
			<td class="{classType_1}">{totalHourPCUQuantity_1}</td>
			<td align="center" class="{classType_2}">{totalHourPCUQuantity_2}</td>
			<td class="{classType_3}">{totalHourPCUQuantity_3}</td>
			<td class="{classType_4}">{totalHourPCUQuantity_4}</td>
			<td class="{classType_5}">{totalHourPCUQuantity_5}</td>
			<td class="{classType_6}">{totalHourPCUQuantity_6}</td>
			<td class="{classType_7}">{totalHourPCUQuantity_7}</td>
			<td class="{classType_8}">{totalHourPCUQuantity_8}</td>
			<td class="{classType_9}">{totalHourPCUQuantity_9}</td>
			<td class="{classType_10}">{totalHourPCUQuantity_10}</td>
			<td class="{classType_11}">{totalHourPCUQuantity_11}</td>
			<td class="{classType_12}">{totalHourPCUQuantity_12}</td>
			<td class="{classType_13}">{totalHourPCUQuantity_13}</td>
			<td class="{classType_14}">{totalHourPCUQuantity_14}</td>
			<td class="{classType_15}">{totalHourPCUQuantity_15}</td>
			<td class="{classType_16}">{totalHourPCUQuantity_16}</td>
			<td class="{classType_17}">{totalHourPCUQuantity_17}</td>
			<td class="{classType_18}">{totalHourPCUQuantity_18}</td>
			<td class="{classType_19}">{totalHourPCUQuantity_19}</td>
			<td class="{classType_20}">{totalHourPCUQuantity_20}</td>
			<td class="{classType_21}">{totalHourPCUQuantity_21}</td>
			<td class="{classType_22}">{totalHourPCUQuantity_22}</td>
			<td class="{classType_23}">{totalHourPCUQuantity_23}</td>
			<td class="{classType_24}">{totalHourPCUQuantity_24}</td>
			<td class="{classType_25}">{totalHourPCUQuantity_25}</td>
			<td class="{classType_26}">{totalHourPCUQuantity_26}</td>
			<td class="{classType_27}">{totalHourPCUQuantity_27}</td>
			<td class="{classType_28}">{totalHourPCUQuantity_28}</td>
			<td class="{classType_29}">{totalHourPCUQuantity_29}</td>
			<td class="{classType_30}">{totalHourPCUQuantity_30}</td>
			<td class="{classType_31}">{totalHourPCUQuantity_31}</td>
			<td class="{classType_32}">{totalHourPCUQuantity_32}</td>
			<td class="{classType_33}">{totalHourPCUQuantity_33}</td>
			<td class="{classType_34}">{totalHourPCUQuantity_34}</td>
			<td class="{classType_35}">{totalHourPCUQuantity_35}</td>
			<td class="{classType_36}">{totalHourPCUQuantity_36}</td>
			<td class="{classType_37}">{totalHourPCUQuantity_37}</td>
			<td class="{classType_38}">{totalHourPCUQuantity_38}</td>
			<td class="{classType_39}">{totalHourPCUQuantity_39}</td>
			<td class="{classType_40}">{totalHourPCUQuantity_40}</td>
			<td class="{classType_41}">{totalHourPCUQuantity_41}</td>
			<td class="{classType_42}">{totalHourPCUQuantity_42}</td>
			<td class="{classType_43}">{totalHourPCUQuantity_43}</td>
			<td class="{classType_44}">{totalHourPCUQuantity_44}</td>
			<td class="{classType_45}">{totalHourPCUQuantity_45}</td>
			<td class="{classType_46}">{totalHourPCUQuantity_46}</td>
			<td class="{classType_47}">{totalHourPCUQuantity_47}</td>
			<td class="{classType_48}">{totalHourPCUQuantity_48}</td>
			<td class="{classType_49}">{totalHourPCUQuantity_49}</td>
			<td class="{classType_50}">{totalHourPCUQuantity_50}</td>
			<td class="{classType_51}">{totalHourPCUQuantity_51}</td>
			<td class="{classType_52}">{totalHourPCUQuantity_52}</td>
			<td class="{classType_53}">{totalHourPCUQuantity_53}</td>
			<td class="{classType_54}">{totalHourPCUQuantity_54}</td>
			<td class="{classType_55}">{totalHourPCUQuantity_55}</td>
			<td class="{classType_56}">{totalHourPCUQuantity_56}</td>
			<td class="{classType_57}">{totalHourPCUQuantity_57}</td>
			<td class="{classType_58}">{totalHourPCUQuantity_58}</td>
			<td class="{classType_59}">{totalHourPCUQuantity_59}</td>
			<td class="{classType_60}">{totalHourPCUQuantity_60}</td>
			<td class="{classType_61}">{totalHourPCUQuantity_61}</td>
			<td class="{classType_62}">{totalHourPCUQuantity_62}</td>
			<td class="{classType_63}">{totalHourPCUQuantity_63}</td>
			<td class="{classType_64}">{totalHourPCUQuantity_64}</td>
			<td class="{classType_65}">{totalHourPCUQuantity_65}</td>
			<td class="{classType_66}">{totalHourPCUQuantity_66}</td>
			<td class="{classType_67}">{totalHourPCUQuantity_67}</td>
			<td class="{classType_68}">{totalHourPCUQuantity_68}</td>
			<td class="{classType_69}">{totalHourPCUQuantity_69}</td>
			<td class="{classType_70}">{totalHourPCUQuantity_70}</td>
			<td class="{classType_71}">{totalHourPCUQuantity_71}</td>
			<td class="{classType_72}">{totalHourPCUQuantity_72}</td>
			<td class="{classType_73}">{totalHourPCUQuantity_73}</td>
			<td class="{classType_74}">{totalHourPCUQuantity_74}</td>
			<td class="{classType_75}">{totalHourPCUQuantity_75}</td>
			<td class="{classType_76}">{totalHourPCUQuantity_76}</td>
			<td class="{classType_77}">{totalHourPCUQuantity_77}</td>
			<td class="{classType_78}">{totalHourPCUQuantity_78}</td>
			<td class="{classType_79}">{totalHourPCUQuantity_79}</td>
			<td class="{classType_80}">{totalHourPCUQuantity_80}</td>
			<td class="{classType_81}">{totalHourPCUQuantity_81}</td>
			<td class="{classType_82}">{totalHourPCUQuantity_82}</td>
			<td class="{classType_83}">{totalHourPCUQuantity_83}</td>
			<td class="{classType_84}">{totalHourPCUQuantity_84}</td>
			<td class="{classType_85}">{totalHourPCUQuantity_85}</td>
			<td class="{classType_86}">{totalHourPCUQuantity_86}</td>
			<td class="{classType_87}">{totalHourPCUQuantity_87}</td>
			<td class="{classType_88}">{totalHourPCUQuantity_88}</td>
			<td class="{classType_89}">{totalHourPCUQuantity_89}</td>
			<td class="{classType_90}">{totalHourPCUQuantity_90}</td>
			<td class="{classType_91}">{totalHourPCUQuantity_91}</td>
			<td class="{classType_92}">{totalHourPCUQuantity_92}</td>
			<td class="{classType_93}">{totalHourPCUQuantity_93}</td>
			<td class="{classType_94}">{totalHourPCUQuantity_94}</td>
			<td class="{classType_95}">{totalHourPCUQuantity_95}</td>
		</tr>
		<!-- END MovementRow -->
	</table>
	<table width="98%" border="0" align="center" cellpadding="0"
		cellspacing="0">
		<tr>
			<td bgcolor="#FFB263"></td>
		</tr>
	</table>
</body>
</html>
