<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Surveyor List</title>
<link href="./css/css.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="js/prototype.js"></script>
<script language="javascript" type="text/javascript">
function SetHidValue(values)
{
	$('hidValue').value = values;
}
</script>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style>
</head>
<base target="_self" />
<body>
	<form id="searchForm" name="searchForm" method="get" action="">
		<table width="100%" align="center">
			<tr>
				<td height="20"><fieldset>
						<legend>Search</legend>
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td>Project Code</td>
								<td><label> <input name="txtProjectCode"
										type="text" id="txtProjectCode" value="{txtProjectCode}"
										size="12" />
								</label></td>
								<td>Porject Name</td>
								<td><input name="txtProjectName" type="text"
									id="txtProjectName" value="{txtProjectName}" size="12" /></td>
								<td><input class="ButtonIdea" type="submit" name="submit"
									id="submit" value="搜索(Search)" /></td>
							</tr>
						</table>
					</fieldset></td>
			</tr>
		</table>
		<table width="100%" border="0" align="center" cellpadding="0"
			cellspacing="1" bgcolor="#000000">
			<tr bgcolor="#FFFFFF" class="DgHeaderStyle">
				<td width="0%" height="20"></td>
				<td align="center">Project Code</td>
				<td align="center">Project Name</td>
			</tr>

			<!-- BEGIN Row -->
			<tr class="{listStyle}"
				onMouseOver="this.className='DgSelectedItemStyle'"
				onMouseOut="this.className='{listStyle}'" bgcolor="#FFFFFF"
				onDblClick="var selValue = '{projectCode}|{projectName}|{remark}';if(window.opener){window.opener.returnValue = selValue;}window.returnValue=selValue;self.close();"
				style="cursor: pointer;">
				<td>&nbsp;</td>
				<td>{projectCode}</td>
				<td>{projectName}</td>
			</tr>
			<!-- END Row -->
		</table>
		<input name="hidValue" type="hidden" id="hidValue" />
	</form>
</body>
</html>