<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Reset Password</title>
<link href="./css/css.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="js/prototype.js"></script>
<script language="javascript" src="/My97DatePicker/WdatePicker.js"></script>
</head>
<body bgcolor="#FFFFFF">
	<form id="myForm" name="myForm" method="post" action="">
		<table width="100%" align="center">
			<tr class="DgHeaderStyle">
				<td height="20">&gt;&gt;重置密碼</td>
			</tr>
		</table>
		<table width="100%" height="35" border="0" align="center"
			cellpadding="0" cellspacing="1">
			<tr style="background-color: #CDE7E7">
				<td width="13%" align="center">Code : {survId}</td>
				<td width="13%" align="center">Name : <strong>{engName}</strong></td>
				<td width="13%" align="center">Contact(用戶名) : {contact}</td>
				<td width="13%" align="center">Home : {survHome}</td>
				<td width="13%" align="center">District : {dipaCode}</td>
			</tr>
		</table>
		<table width="100%" border="0" align="center" cellpadding="0"
			cellspacing="0" bgcolor="#99CECE">
			<tr>
				<td>&nbsp;</td>
				<td align="center"
					style="color: #F93; font-size: 18px; font-weight: bold;">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td align="center"
					style="color: #F93; font-size: 18px; font-weight: bold;">{tips}</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td width="30%">&nbsp;</td>
				<td>&nbsp;</td>
				<td width="30%">&nbsp;</td>
			</tr>
			<tr>
				<td><input type="hidden" name="surveyorId" id="surveyorId"
					value="{survId}" /></td>
				<td align="center"><input
					style="font-size: 24px; width: 300px; height: 120px;"
					{disabled} type="submit" name="submit" id="submit"
					value="重置密碼(Reset Passowrd)" /></td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td align="center"
					style="color: #FF0000; font-size: 18px; font-weight: bold;">{message}</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td align="center"
					style="color: #FF0000; font-size: 18px; font-weight: bold;">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td align="center"
					style="width: 100%; height: 40px; font-size: 18px; font-weight: bold;"><label
					for="surveyorLoginInfo"></label> 登錄參考信息:<br /> <textarea
						name="surveyorLoginInfo" id="surveyorLoginInfo" cols="70" rows="6">登錄網址: {loginUrl}
用戶名:{contact}
密碼:{password}</textarea></td>
				<td>&nbsp;</td>
			</tr>
		</table>
		<br />
	</form>
</body>
</html>
