<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .box{
            width: 100%;
            text-align: center;
        }
        #play{
            width: 80%;
            margin: auto;
            height: 200rem;
            border: none;
            overflow:hidden;
        }
    </style>
</head>
<body>
<div class="box">
<iframe class="play" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2F100024448896054%2Fvideos%2F683684705789820%2F&width=1280"  width="1280" height="720" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
</div>
</body>
</html>