<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>統計柱形圖</title>
<link href="./css/css.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="js/prototype.js"></script>
<script language="javascript" type="text/javascript">
function GetChart()
{
	var url = "";
	url = "progress_chart.php?";
	url = url + "distId=" + $('ddlDistId').value;
	//Received Hours
	if($('chkReceivedHours').checked == true)
	{
		url = url + "&chkReceivedHours=1";
	}
	//Forms Prepared
	if($('chkFormsPrepared').checked == true)
	{
		url = url + "&chkFormsPrepared=1";
	}
	//Arranged Hours 
	if($('chkArrangedHours').checked == true)
	{
		url = url + "&chkArrangedHours=1";
	}
	//Surveyed Hours
	if($('chkSurveyedHours').checked == true)
	{
		url = url + "&chkSurveyedHours=1";
	}
	//Received Forms
	if($('chkReceivedForms').checked == true)
	{
		url = url + "&chkReceivedForms=1";
	}
	//Reported Hours
	if($('chkReportedHours').checked == true)
	{
		url = url + "&chkReportedHours=1";
	}
	
		$('imgProgressChart').src = url;

}
</script>
</head>

<body>
	<form id="myForm" name="myForm" method="get" action="">
		<table width="100%" align="center">
			<tr class="DgHeaderStyle">
				<td height="20">主列表 &gt;&gt;&gt; 統計柱形圖</td>
			</tr>
		</table>
		<table width="100%" align="center" style="display: none;">
			<tr>
				<td height="20"><fieldset>
						<legend>Search</legend>
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td style="">District</td>
								<td style="">{ddlDistIdSelect}</td>
								<td>Line</td>
								<td><label> <input name="chkReceivedHours"
										type="checkbox" id="chkReceivedHours" value="1"
										checked="checked" /> Received Hours
								</label> <label> <input name="chkFormsPrepared" type="checkbox"
										id="chkFormsPrepared" value="1" checked="checked" /> Forms
										Prepared <input name="chkArrangedHours" type="checkbox"
										id="chkArrangedHours" value="1" checked="checked" /> Arranged
										Hours <br /> <input name="chkSurveyedHours" type="checkbox"
										id="chkSurveyedHours" value="1" checked="checked" /> Surveyed
										Hours <input name="chkReceivedForms" type="checkbox"
										id="chkReceivedForms" value="1" checked="checked" /> Received
										Forms <input name="chkReportedHours" type="checkbox"
										id="chkReportedHours" value="1" checked="checked" /> Reported
										Hours
								</label></td>
								<td><input class="ButtonIdea" type="button"
									onclick="GetChart();" value="查看(View)" /></td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
						</table>
					</fieldset></td>
			</tr>
		</table>
		<table width="100%" border="0" cellspacing="3" cellpadding="0">
			<tr>
				<td align="center" style="font-size: 14px;"><p>&nbsp;</p>
					<p>
						<img id="imgProgressChart" name="imgProgressChart"
							alt="progress chart" src="up_to_date_bar_chart.php" />
					</p></td>
			</tr>
			<tr>
				<td align="center" style="font-size: 14px;">&nbsp;</td>
			</tr>
			<tr>
				<td align="center" style="font-size: 14px;"><table width="100%"
						border="0" align="center" cellpadding="0" cellspacing="1"
						bgcolor="#000000">
						<tr bgcolor="#FFFFFF" class="DgHeaderStyle">
							<td height="20"></td>
							<td align="center">項目編號</td>
							<td align="center">簡稱</td>
							<td align="center">開始時間</td>
							<td align="center">調查總共時間</td>
						</tr>
						<!-- BEGIN Row -->
						<tr class="{listStyle}"
							onmouseover="this.className='DgSelectedItemStyle'"
							onmouseout="this.className='{listStyle}'"
							onclick=" SelectRow(this);">
							<td>&nbsp;</td>
							<td>{complateJobNo}</td>
							<td>{districtName}</td>
							<td>{survey_start_date}</td>
							<td>{surveytime}</td>
						</tr>
						<!-- END Row -->
					</table></td>
			</tr>
		</table>
	</form>
</body>
</html>