<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>帳戶列表</title>
<link href="./css/css.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<table width="100%" align="center">
		<tr class="DgHeaderStyle">
			<td height="20">帳戶管理 &gt;&gt;&gt; 帳戶列表</td>
		</tr>
	</table>
	<table width="100%" border="0" align="center" cellpadding="0"
		cellspacing="1" bgcolor="#000000">
		<tr bgcolor="#FFFFFF" class="DgHeaderStyle">
			<td height="20">編號</td>
			<td align="center">帳戶名稱</td>
			<td align="center">角色</td>
			<td align="center">英文名</td>
			<td align="center">中文名</td>
			<td align="center">手提</td>
			<td align="center">有效期至</td>
			<td align="center">最後登錄時間</td>
			<td align="center">登錄次數</td>
			<td colspan="3" align="center">操作</td>
		</tr>
		<!-- BEGIN Row -->
		<tr class="{listStyle}"
			onmouseover="this.className='DgSelectedItemStyle'"
			onmouseout="this.className='{listStyle}'">
			<td>{userId}</td>
			<td>{userName}</td>
			<td>{roleName}</td>
			<td>{engName}</td>
			<td>{chiName}</td>
			<td>{mobile}</td>
			<td>{validLoginTime}</td>
			<td>{lastLoginTime}</td>
			<td>{loginTimes}</td>
			<td><a href="user_update.php?userId={userId}" target="_self"><img
					src="images/Modify.gif" width="15" height="17" border="0"
					alt="Edit" title="Preview"></a></td>
			<td><a href="" style="display: none"><img
					src="images/Modify.gif" alt="Modify" width="11" height="11"
					border="0"></a></td>
			<td>{delete}</td>
		</tr>
		<!-- END Row -->
	</table>
</body>
</html>